[user]
  name = "James Taliaferro"
  email = "james@taliafer.ro"

[init]
	defaultBranch = main
[push]
	default = current
[diff]
	tool = vimdiff
[alias]
	pushmerge = "push  -o merge_request.create -o merge_request.merge_when_pipeline_succeeds -o merge_request.remove_source_branch"

[difftool "vscode"]
	cmd = code --wait --diff $LOCAL $REMOTE

[mergetool "vscode"]
	cmd = code --wait $MERGED

[includeIf "hasconfig:remote.*.url:*://*llnl.gov*/**"]
	path = ~/.llnl.gitconfig

[includeIf "hasconfig:remote.*.url:*://*buildfarm.internal*/**"]
	path = ~/.llnl.gitconfig

[includeIf "hasconfig:remote.*.url:*://*ibm.com*/**"]
	path = ~/.llnl.gitconfig
